body {
  background-color: hsla(0, 0%, 25%, 1); /*dark grey */
}

body, footer li a, .layout-sidebar-first li a, article header h1, article h2, article h1 a, article h2 a {
    color: hsla(0, 10%, 85%, 1); /* light grey */
}

.dialog-off-canvas-main-canvas a {
  color: hsla(63, 74%, 63%, 1); /* yellow */
}

.site-header {
  background-color: hsla(63, 74%, 63%, 1); /* yellow */
}

.site-header a {
  color: hsla(0, 0%, 25%, 1); /*dark grey */
}

pre, article aside {
  border: 1px solid hsla(0, 0%, 0%, .3); /* dark screen */
}

pre {
  background-color: hsla(0, 100%, 100%, .2); /* light screen */
}


article header:after, article h2 {
  border-width: 0 0 .4rem 0;
  border-style: solid;
  border-color:hsla(335, 70%, 60%, 0.9); /* magenta */
}

article h2 {
  border-color: hsla(200, 70%, 60%, 0.9); /* blue */
}

article header:after {
  content: "";
}
