/* these are styles for codepen */
body {
  font-family: helvetica, sans-serif;
  line-height: 1.5;
  /*    background-color: lime;*/
  padding: 5vw 5vh;
  max-width: 80vw;
  margin: auto;
  background-color: hsl(150, 10%, 90%);
}

i {
  background-color: yellow;
}
img {
  width: 100%;
  height: auto;
}

footer li a,
.layout-sidebar-first li a {
  background-color: black;
  color: white;
}

header {
  margin: 20px 0;
}

header, nav, footer, h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Ubuntu Mono", monospace;
}

header h1, footer h1 {
  font-size: 1.25rem;

}

footer h1 {
  font-size: 1rem;
  text-decoration: underline;
}

article h1, article h2 {
  padding: .5rem .8rem;
}

article > .hero img {
  background-size: cover;
}

article header {
  background-color: hsl(20, 100%, 70%);
  font-size: 1.5rem;
}

article h2 {
  background-color: hsl(200, 70%, 70%);
  font-size: 1.2rem;
}

article aside {
  background-color: hsla(0, 0%, 0%, .2);
  font-size: 0.7em;
  padding: 2em;
  font-style: italic;
}

/*
CSS GRID

these are styles for the topic at hand */

.dialog-off-canvas-main-canvas {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: repeat(auto, 1fr);
}

main {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}

header {
  grid-column: 1 / span 2;
}

nav,
footer {
  grid-column: 1 / span 1;
}

nav li,
footer li {
  margin: 2em 0;
}

nav li:nth-child(1n),
footer li:nth-child(1n) {
  transform: rotate(2deg);
}

nav li:nth-child(2n),
footer li:nth-child(2n) {
  transform: rotate(-2deg);
}

nav li:nth-child(4n),
footer li:nth-child(4n) {
  transform: rotate(-5deg);
}

nav a,
footer a {
  padding: 0.6em;
}

article {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 2fr 6fr 4fr 2fr;
  grid-template-rows: 4fr 2fr 2fr repeat(auto, 1fr);
}

article > * {
  grid-column: 2 / end;
}

article header {
  grid-column: 1/5;
}
article header h1 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  z-index: 1;
  align-self: end;
}

article header figure {
  grid-row: -1 / span 2;
  grid-column: 2 / end;
}

article h2 {
  grid-column: 1/ span 3;
}
article p {
  grid-column: 2 / span 3;
}

article aside {
  grid-column: end / 3;

}
