/* these are styles for codepen */
body {
  font-family: "Noto Sans", helvetica, sans-serif;
  line-height: 1.5;
  padding: 2vw 5vh;
  margin: auto;
  background-color: hsl(150, 10%, 90%);
  background-image: linear-gradient(hsla(150, 10%, 80%, 0.2) 2px, transparent 0),
    linear-gradient(90deg, hsla(150, 10%, 80%, 0.2) 2px, transparent 0),
    linear-gradient(hsla(150, 10%, 80%, 0.2) 1px, transparent 0),
    linear-gradient(90deg, hsla(150, 10%, 80%, 0.2) 1px, transparent 0);
  background-size: 75px 75px, 75px 75px, 15px 15px, 15px 15px;
}

a {
  color: hsl(280, 100%,30%);
}

p {
  margin: 1em 0;
}

img {
  width: 100%;
  height: auto;
}

footer li a,
.layout-sidebar-first li a {
  background-color: black;
  color: white;
}

header {
  margin: 20px 0;
}

header, .dialog-off-canvas-main-canvas nav, footer, h1, h2, h3, h4, h5, h6, pre {
    text-transform: uppercase;
    font-family: "Ubuntu Mono", monospace;
}

footer h1 {
  font-size: 1rem;
  text-decoration: underline;
}

pre {
  font-size: .8em;
  border: 1px solid hsla(0, 0%, 0%, .3);
  background-color: hsla(0, 100%, 100%, .2);
}

.tasks ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tasks li {
    margin: 2em 0;
  }
.dialog-off-canvas-main-canvas nav li:nth-child(1n),
footer li:nth-child(1n) {
  transform: rotate(2deg);
}

.dialog-off-canvas-main-canvas nav li:nth-child(2n),
footer li:nth-child(2n) {
  transform: rotate(-2deg);
}

.dialog-off-canvas-main-canvas nav li:nth-child(4n),
footer li:nth-child(4n) {
  transform: rotate(-5deg);
}

.dialog-off-canvas-main-canvas nav a,
footer a {
  padding: 0.6em;
}

article h1, article h2 {
  padding: .5rem .8rem;
}

article header {
    font-size: 1.5rem;
}

article header h1 {
  background-color: hsla(20, 100%, 75%, .8);

}

article h2 {
  background-color: hsla(200, 70%, 75%, .8);
  font-size: 1.2rem;
}

article aside {
  background-color: hsla(0, 0%, 0%, .2);
  font-size: 0.7em;
  padding: 2em;
}

article ul {
  list-style-type: circle;
  margin-left: 1em;
}
/*hack to disable mysterious empty paragraph tags */
p:empty {
  display: none;
}

/*
CSS GRID
*/

.dialog-off-canvas-main-canvas {
  display: grid;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas:
                "header header"
                "nav nav"
                "main main"
                "footer footer";
}

.dialog-off-canvas-main-canvas > main {
  grid-area: main;
}

.dialog-off-canvas-main-canvas > header {
  grid-area: header;
}
 .dialog-off-canvas-main-canvas nav {
   grid-area: nav;
}

.dialog-off-canvas-main-canvas > footer {
  grid-area: footer;
}

article {
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 2fr 6fr 4fr 2fr;
}

article > * {
  grid-column: 1 / end;
}

/* Hack to disable subarticles from getting their own grid. */

article article, article article article {
  display: block;
  width: 100%;
}
/*
article .embedded-entity {
  grid-column: 1/end;
}
*/

article header {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 4fr 1fr 1fr;
  grid-template-rows: .5fr 1fr minmax(10px, 9fr);
}

header > * {
  grid-column: 1 / end;
}

article header h1 {
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  z-index: 1;
}
article header .hero {
  grid-column: 2 / span 4;
  grid-row: 1 / end;

}

@media screen and (min-width: 800px) {
  body {
      max-width: 80vw;
  }
  header {
    font-size: 1.5rem;
  }

  .dialog-off-canvas-main-canvas {
    grid-template-areas:
                  "header header"
                  "nav main"
                  "footer main";
  }
  .dialog-off-canvas-main-canvas > nav,
    .dialog-off-canvas-main-canvas > footer {
    grid-column: 1 / span 1;
  }
  .tasks ul {
    flex-direction: column;
    align-content: flex-start;
  }

  article header h1 {
    /* grid-column: 1 / end;*/
    grid-row: 2 / span 1;
    z-index: 1;
  }

  header > * {
    grid-column: 2 / end;
  }

  article header .hero {
  }

  article img {
    grid-column: 1 / end;
  }
  article h2 {
    grid-column: 1 / span 4;
  }
  article p, article ul, article ol {
    grid-column: 2 / span 3;
  }

  article aside {
    grid-column: end / 3;
  }

  article .cp_embed_wrapper {
    grid-column: 1 / span 4;
  }

}

}
