.site-header, .site-slogan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hero {
  z-index: -1;
  max-height: 10rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero img {
  vertical-align: middle;
}

@supports (display:grid) {

  /*
  Grid that controls the overall layout
  */

  .dialog-off-canvas-main-canvas {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
   grid-template-rows: 1fr min-content auto 1fr;
  }

  /*
  grid area for site header
  */
  .dialog-off-canvas-main-canvas> header {
    grid-area: header;

  }

  .dialog-off-canvas-main-canvas nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
    max-width: 96vw;
    margin: 0 auto;
  }

  .dialog-off-canvas-main-canvas>footer {
    grid-area: footer;
  }

  /*
  this is so shitty
  why does it name the block after my theme/site?
  */

  #block-erima-branding {
    display: grid;
    grid-template-rows: minmax(10rem, 3fr) minmax(5rem, 2fr);
  }

  #block-erima-breadcrumbs ol {
    display: flex;
  }

  /*
  Cards view Grid
   */

   .cards {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 8rem;
   }

   /* cards *and* article */
   .cards, article, #block-erima-breadcrumbs ol {
     max-width: 90vw;
     margin: 0 auto;
     align-content: flex-start;
   }

   /* articles that are within cards */

   .cards article {
     grid-template-rows: 5rem auto;
   }


  /*
  article grid
  */

  article {
    display: grid;
/*    grid-template-rows: auto minmax(5rem, max-content) auto;*/
    grid-row-gap: 1rem;
  }

  /*
  Article header Grid
  */

  article header {
    display: grid;
    grid-template-areas:
    "hero"
    "title"
    "after";
    grid-template-rows: minmax(4fr, 5rem) 1fr;
    grid-template-columns: 1fr;
  }

  article h1 {
    grid-area: title;
  }

  .hero {
    z-index: -1;
    grid-area: hero;
  }

  article header:after {
    content: "";
    grid-area: after;
  }

  @media screen and (min-width: 800px) {

    /*
       a 2-up display for larger screens
       only on Views that have cards custom css class
    */
    .cards {
      grid-template-columns: 1fr 1fr;
      grid-gap: 6rem;
    }

    /* cards *and* article */
    .cards, article, #block-erima-breadcrumbs ol {
      max-width: 60vw;
    }
}
