.site-header, .site-slogan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hero {
/*  max-height: 30vh;
  overflow: hidden;*/
}

@supports (display:grid) {

  /*
  Grid that controls the overall layout
  */

  .dialog-off-canvas-main-canvas {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
   grid-template-rows: 1fr min-content auto 1fr;
  }

  /*
  grid area for site header
  */
  .dialog-off-canvas-main-canvas> header {
    grid-area: header;

  }

  .dialog-off-canvas-main-canvas nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  .dialog-off-canvas-main-canvas>footer {
    grid-area: footer;
  }

  /*
  this is so shitty
  why does it name the block after my theme/site?
  */

  #block-erima-branding {
    display: grid;
    grid-template-rows: minmax(10rem, 2fr) minmax(5rem, 1fr);
  }


  /*
  article grid
  */

  article {
    display: grid;
    grid-template-rows: 5rem max-content;
    grid-row-gap: 1rem;
  }

  /*
  Article header Grid
  */

  article header {
    display: grid;
  }

  .hero {
    z-index: -1;
  }

  @media screen and (min-width: 800px) {

    /*
       a 2-up display for larger screens
       only on Views that have cards custom css class
    */
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 2rem;
      margin: 0 auto;
    }
    .cards, article {
      max-width: 60vw;
    }
}
