html {
/*    font-size: 1.2em;*/
}

body {
  font-family: "Open Sans", helvetica, sans-serif;
  line-height: 1.75;
  margin: auto;
}



a, article header a {
  text-decoration: none;
}

article a {
  text-decoration: underline;
}

article header {
  font-size: 1.2rem;
  align-self: end;
}


img {
  width: 100%;
  height: auto;
}

blockquote {
  font-size: 1.2rem;
  padding: 1rem 0;
}

/* this is actually an h1 inside the header block referred to within this doc */
.site-header {
  letter-spacing: .5rem;
  font-size: 2rem;
  font-weight: 800;

}

.site-slogan {
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
}

footer h2 {
  font-size: 1rem;
  text-decoration: underline;
  margin: 1em 0;
}

pre {
  font-size: .8em;
}

.dialog-off-canvas-main-canvas nav a, footer a {
  padding: 0.6em;
}

article {
  margin: 0 auto;
}

article h1 {
  font-size: 1.1em;
  font-weight: 800;
}

article h2 {
  font-size: 1.1rem;

}

article aside {
  font-size: 0.7em;
  padding: 2em;
}

article ul {
  list-style-type: circle;
  margin-left: 1em;
}

.header-text {
  font-size: 1.1rem;
}

#block-erima-breadcrumbs {
    font-size: .8rem;
  }

#block-erima-breadcrumbs li:not(:last-child)::after {
  content: " > ";
}

@media screen and (min-width: 800px) {}
